.fb-embed {
    width: 1000px;
    height: 550px;
}

@media only screen and (max-width: 1200px) {
  .fb-embed {
      width: 800px;
      height: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .fb-embed {
      width: 550px;
      height: 309px;
  }
}

@media only screen and (max-width: 600px) {
  .fb-embed {
      width: 400px;
      height: 225px;
  }
}

@media only screen and (max-width: 400px) {
  .fb-embed {
      width: 80%;
      height: 200px;
  }
}


.home-content__main {
  margin: 0 auto;
  padding-left: 25px;
}

.insta {
  margin-right: .5%;
  margin-bottom: .5%;
}

.insta-card {
  position:relative;
}

.insta-card a{
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.insta-card:hover a{
  transform:scale(1.5, 1.5);
}

.lightSlider .insta-card{
  display: inline-block;
  vertical-align: middle;
  float:none;
}

@media (min-width: 300px) {
    .card-columns {
        column-count: 2;
    }
  /*  .insta-card {
      width: 25%;
    }*/
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}


/* 06. Services */
.activities {
width: 100%;
padding: 65px 0 75px 0;
text-align: center;
}

.activities .section-header {
width: 100%;
margin-bottom: 65px;
}

.activities .section-content {
width: 100%;
}
.activities .section-content .service {
  width: 100%;
  margin-top: 2em;
}

.activities .section-content .service .service-icon {
width: 100%;
margin-bottom: 10px;
font-size: 35px;
}

.activities .section-content .service .service-icon .fa {
display: block;
color: #ed6624;

}

.activities .section-content .service .service-title h3{
width: 100%;
margin-bottom: 20px;
color: #ed6624;
}

.activities .section-content .service .service-entry {
width: 100%;
line-height: 26px;
color: #8c9597;
font-size: 16px;
font-family: "Lato";
font-weight: 400;
}

.activities .widget_illdy_service {
margin-top: 40px;
}

.activities .widget_illdy_service:nth-child(1), #activities .widget_illdy_service:nth-child(2), #activities .widget_illdy_service:nth-child(3) {
margin-top: 0;
}


.dark {
  background-color: #111111;
}

#map {
        height: 320px;
}

.map-info {
  background-color: #242f3e;
  color: #ed6624;
}

  /*style the box which holds the text of the information window*/  
         .gm-style .gm-style-iw {
            background-color: #252525 !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            min-height: 120px !important;
            padding-top: 10px;
            display: block !important;
         }    

         /*style the paragraph tag*/
         .gm-style .gm-style-iw #google-popup p{
            padding: 10px;
         }


        /*style the annoying little arrow at the bottom*/
        .gm-style div div div div div div div div {
            background-color: #252525 !important;
            margin: 0;
            padding: 0;
            top: 0;
            color: #fff;
            font-size: 16px;
        }

        /*style the link*/
        .gm-style div div div div div div div div a {
            color: #f1f1f1;
            font-weight: bold;
        }


.masonry
.grid-sizer,
.masonry__brick { width: 50%; }
.grid-item--width2 { width: 100%; }


